/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */


/*
 * montserrat
================================================================================ */

@font-face {
  font-family: "montserrat-black";
  src: url("../fonts/montserrat/montserrat-black-webfont.43d2a5fa7a17.woff2") format("woff2"), url("../fonts/montserrat/montserrat-black-webfont.89d032959e4e.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-extrabold";
  src: url("../fonts/montserrat/montserrat-extrabold-webfont.10aed9a35293.woff2") format("woff2"), url("../fonts/montserrat/montserrat-extrabold-webfont.93c19adcb76b.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/montserrat/montserrat-bold-webfont.e18062ada748.woff2") format("woff2"), url("../fonts/montserrat/montserrat-bold-webfont.41ca97c6b3d2.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("../fonts/montserrat/montserrat-semibold-webfont.bb42f178e656.woff2") format("woff2"), url("../fonts/montserrat/montserrat-semibold-webfont.502ec610aacb.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../fonts/montserrat/montserrat-medium-webfont.09cb165fc2fe.woff2") format("woff2"), url("../fonts/montserrat/montserrat-medium-webfont.13f56822542b.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/montserrat/montserrat-regular-webfont.47b313ec6d64.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular-webfont.8cc6fc0525f1.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/montserrat/montserrat-light-webfont.6ef39b20d8c2.woff2") format("woff2"), url("../fonts/montserrat/montserrat-light-webfont.292573529703.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-extralight";
  src: url("../fonts/montserrat/montserrat-extralight-webfont.bb3f344a535c.woff2") format("woff2"), url("../fonts/montserrat/montserrat-extralight-webfont.789902ee9885.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-thin";
  src: url("../fonts/montserrat/montserrat-thin-webfont.47f0df96995f.woff2") format("woff2"), url("../fonts/montserrat/montserrat-thin-webfont.43725e71ed30.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}


/*
 * Muli
================================================================================ */

@font-face {
  font-family: "muli-extrabold";
  src: url("../fonts/muli/muli-extrabold-webfont.72a4445c41ba.woff2") format("woff2"), url("../fonts/muli/muli-extrabold-webfont.3e62929962d0.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-extrabold-italic";
  src: url("../fonts/muli/muli-extrabolditalic-webfont.c40469731c96.woff2") format("woff2"), url("../fonts/muli/muli-extrabolditalic-webfont.62a6cfb957eb.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-bold";
  src: url("../fonts/muli/muli-bold-webfont.66b200e00034.woff2") format("woff2"), url("../fonts/muli/muli-bold-webfont.0e9ed4a7c6dd.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-bold-italic";
  src: url("../fonts/muli/muli-bolditalic-webfont.fe4a588b28e0.woff2") format("woff2"), url("../fonts/muli/muli-bolditalic-webfont.0557787b517a.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-semibold";
  src: url("../fonts/muli/muli-semibold-webfont.de96ecf09ad3.woff2") format("woff2"), url("../fonts/muli/muli-semibold-webfont.b0821036f10c.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-semibold-italic";
  src: url("../fonts/muli/muli-semibolditalic-webfont.7d6cd0e2ba3b.woff2") format("woff2"), url("../fonts/muli/muli-semibolditalic-webfont.10945b88eea4.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-regular";
  src: url("../fonts/muli/muli-regular-webfont.bdc8b3202aea.woff2") format("woff2"), url("../fonts/muli/muli-regular-webfont.8aee6b97fc7c.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-italic";
  src: url("../fonts/muli/muli-italic-webfont.2db8642cc828.woff2") format("woff2"), url("../fonts/muli/muli-italic-webfont.da97daa7bd2c.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-light";
  src: url("../fonts/muli/muli-light-webfont.6c76e33c58a5.woff2") format("woff2"), url("../fonts/muli/muli-light-webfont.43d44aa7a32b.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-light-italic";
  src: url("../fonts/muli/muli-lightitalic-webfont.bcae72051fcc.woff2") format("woff2"), url("../fonts/muli/muli-lightitalic-webfont.25037114c04d.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-extralight";
  src: url("../fonts/muli/muli-extralight-webfont.599594f8b5cf.woff2") format("woff2"), url("../fonts/muli/muli-extralight-webfont.4b55c217a610.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "muli-extralight-italic";
  src: url("../fonts/muli/muli-extralightitalic-webfont.65a666dcf6c6.woff2") format("woff2"), url("../fonts/muli/muli-extralightitalic-webfont.db6643a9fa40.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}


/*# sourceMappingURL=fonts.css.map */